.contenedorp {
    position: relative;
    /* referencia */
    width: 100%;
    aspect-ratio: 3 / 20;
    top: 3rem;
}


.carta {

    position: absolute;
    width: 115%;
    aspect-ratio: 3 / 2;
    left: 50%;
    transform: translateX(-56%);

    background-image: url("img/CartaAbierta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.35));

}



.fecha {
    background: rgb(209, 209, 247);
    position: absolute;
    width: 45%;
    aspect-ratio: 9/14;
    top: 10%;
    left: 50%;
    transform: translateX(-4%);
    background-image: url("img/fecha.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);


}


.num {
    text-align: center;
    font-size: 6vw;
}

.mes {
    text-align: center;
    font-size: 6vw;

}

.año {
    font-size: 6vw;
    text-align: center;
}

.hora {
    text-align: center;
    font-size: 4vw;
}

.nombres {
    background: rgb(30, 30, 141);
    position: absolute;
    width: 48%;
    aspect-ratio: 9/14;
    top: 12.5%;
    left: 50%;
    transform: translateX(-90%);

    z-index: 2;
    background-image: url("img/Tnombres.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);


}

.Descripnom {
    color: #fff;
    font-size: 3vw;
    text-align: center;
    padding-top: 20%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

}

.nimbr {
    color: #fff;
    font-size: 11vw;
    text-align: center;
    margin: 0;
    font-family: "Miss Fajardose", cursive;
    font-weight: 100;
    font-style: normal;
}

.detalles {
    position: absolute;
    top: 21.6%;
    left: 54%;
    z-index: 8;
    width: 40%;
    aspect-ratio: 1/1;
    background: #4a90e2;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);


}

.confirmacion {
    position: absolute;
    z-index: 7;
    width: 60%;
    aspect-ratio: 11/8;
    background-color: bisque;
    top: 25.1%;
    left: 10%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

}


.polaroid {
    position: absolute;
    top: 32.6%;
    left: 9%;
    z-index: 5;
    /* control de inclinación */
    width: 24%;
    display: inline-block;
    background: #fff;
    padding: 3.5% 2.5% 8.5%;
    /* más espacio abajo tipo polaroid */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transform: rotate(var(--rotacion));
    transition: transform 0.3s ease;
    border: 1px solid #e5e5e5;
}

.polaroid img {
    display: block;
    width: 100%;
    height: auto;
}

.polaroid .caption {
    margin-top: 10px;
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    color: #333;
}

.polaroid2 {
    position: absolute;
    top: 33.6%;
    left: 35%;
    z-index: 4;
    /* control de inclinación */
    width: 24%;
    display: inline-block;
    background: #fff;
    padding: 3.5% 2.5% 8.5%;
    /* más espacio abajo tipo polaroid */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transform: rotate(var(--rotacion));
    transition: transform 0.3s ease;
    border: 1px solid #e5e5e5;
}

.polaroid2 img {
    display: block;
    width: 100%;
    height: auto;
}

.polaroid2 .caption {
    margin-top: 10px;
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    color: #333;
}


.polaroid3 {
    position: absolute;
    top: 29%;
    left: 65%;
    z-index: 1;
    /* control de inclinación */
    width: 24%;
    display: inline-block;
    background: #fff;
    padding: 3.5% 2.5% 8.5%;
    /* más espacio abajo tipo polaroid */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transform: rotate(var(--rotacion));
    transition: transform 0.3s ease;
    border: 1px solid #e5e5e5;
}

.polaroid3 img {
    display: block;
    width: 100%;
    height: auto;
}

.polaroid3 .caption {
    margin-top: 10px;
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    color: #333;
}